<h1 id="tableLabel">List of people.</h1>

<p>This is an editable list of people, persisted to a database, via a REST API.</p>

<p *ngIf="isLoading"><em>Loading...</em></p>

<div *ngIf="people && !isLoading">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Updated</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of people">
        <td>{{ person.name }}</td>
        <td>{{ person.lastUpdatedOn | date: 'full'}}</td>
        <td><button class="btn" (click)="deletePerson(person)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div>New name <input type="text" #newName/><button class="btn" (click)="addPerson(newName.value)">Add</button></div>
</div>
